.container{
    border: 1px solid rgb(56, 55, 55);
    padding: 10px;
    
}


.head{
    background-color: rgb(192, 190, 190);
}

.pink{
    background-color: rgb(244, 204, 211);
}

.column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.in{
    display: flex;
}

.in > div{
    margin: 0 5px;
}

/* .menu{
    padding-right: 5px;
} */

.center{
    text-align: center;
    margin: 10px;
}
