.container{
    width: 400px;
    height: 400px;
    background-color: beige;
    display: flex;
}

.box{
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(143, 143, 254);
    /* display: flex; */
}