.container{
    width: 500px;
    height: 500px;
    background-color: beige;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(241, 129, 129);
    margin: 5px;
}