<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>file upload</title>
  </head>
  <body>
    <h1>upload file</h1>
    <form enctype="multipart/form-data">
      <input type="file" name="userfile" id="userfile" />
      <button type="button" onclick="uploadFile()">업로드</button>
    </form>

    <div></div>

    <script>
      async function uploadFile() {
        const form = new FormData();
        const file = document.getElementById('userfile').files[0];
        form.append('file', file);
        console.log(form);
        axios({
          method: 'post',
          url: '/multerFile',
          data: form,
        }).then(() => console.log('다녀왔음.'));
      }
    </script>
  </body>
</html>
